<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>#{title}</title>
<style></style>
</head>
<body>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/admin/promote_overview.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  include ../navigator.pug
  <br>
  <br>
  <br>
  if (data)
      each x in data
        <div class=info>
          <br>
          <br>
          <div class="container-left">
            <img src=#{x.uri} width="697"height="408">
          </div>
          <div class="container-right">
            <br>
            <form action="" method="post">
                <label for="name">作品名稱:</label><br>
                <dd>#{x.name}</dd>
                <input type="hidden" name="name" id="name" value="#{x.name}">
                <br>
                <label for="author">創作者:</label><br>
                <dd id="author" name="author">#{x.author}</dd>
                <input type="submit" value="加入推廣">
            </form> 
            <br>
            <br>
            <br>
          </div>
        </div>
<script src="/javascripts/admin/promote_overview.js"></script>
</body>
</html>