<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>
<title>投票</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/vote/vote.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  include ../navigator.pug
<h1>投票區</h1>
<h2>主題:#{topic}</h2>
<br>
if(data)
  each x in data
    <div class="overview">
      <div class="container-left">
        <img src=#{x[2]} width="900"height="635">
      </div>
      </div class="container-right">
        <form action=""method="post">
          <label for="author">作者:</label><br>
          <dd id="author"name="author">#{x[4]}</dd><br>
          <label for="name">作品名稱:</label><br>
          <dd id="name"name="name">#{x[0]}</dd><br>
          <label for="symbol">作品代號:</label><br>
          <dd id="symbol">#{x[1]}</dd><br>
          <label for="votes">票數:</label>
          <dd id="votes"name="votes">#{x[5]}</dd>
          <input type="hidden" id="votingId" name="votingId" value=#{votingId}>
          <input type="hidden" id="participantId" name="participantId" value=#{x[6]}>
          <input type="submit" value="投票">
        </form>
      </div>
      //<form action="/buy" method="post" id="buyform">
        <input type="hidden" id="votingId_buy" name="votingId_buy" value=#{votingId}>
        <input type="hidden" id="participantId_buy" name="participantId_buy" value=#{x[6]}>
        <label for="buyamount">購買數量:</label><br>
        <input type="number" id="buyamount" name="buyamount"><br>
        <br>
        <input type="submit" value="確認購買">
      //</form> 
    </div>
<script src="/javascripts/vote/vote.js"></script>
<script src="/javascripts/vote/abi.js"></script>
</body>
</html>