<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>
<title>投票</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/vote/vote.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  include ../navigator.pug
<h1>投票區</h1>
<h2>主題:#{topic}</h2>
if(data)
  each x in data
    <div class="container">
      <form action=""method="post">
        <img src=#{x.uri} width="360"height="250">
        <input type="hidden" id="votingId" name="votingId" value=#{x.votingId}>
        <input type="hidden" id="participantId" name="participantId" value=#{x.participantId}>
        <label for="author">作者:</label><br>
        <dd id="author"name="author">#{x.author}</dd>
        <label for="name">作品名稱:</label><br>
        <dd id="name"name="name">#{x.name}</dd>
        <label for="symbol">作品代號:</label><br>
        <dd id="symbol">#{x.symbol}</dd>
        <label for="votes">票數:</label>
        <dd id="votes">#{votes}</dd>
        <input type="submit" value="投票">
        <button id="buy"><a>購買</a></button>
      </form>
    </div>
<script src="/javascripts/vote/vote.js"></script>
</body>
</html>