<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>活動總覽</title>
  
</head>
<body>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/overview/overview.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  include ../navigator.pug
  <h1>報名總覽<h1>
  <br>
    if (data)
      each x in data
        <div class=info>
          <div class="container-left">
            <img src=#{x.image} width="500"height="409">
          </div>
          <div class="container-right">
            <form action="" method="post">
              <br>
              <button id="open">開放報名中</button>
              <br>
              <br>
              <label for="topic">活動主題:</label><br>
              <dd>#{x.topic}</dd>
              <br>
              <label for="signup-time">投票期間:</label><br>
              <dd>#{x.startVote}~#{x.endVote}</dd>
              <input type="hidden" name="topic" id="topic" value=#{x.topic}>
              <br>
              <input type="submit"id="signup"value="點我報名">
              <br>
              <br>
            </form>
          </div>
        </div>
<script src="/javascripts/overview/overview.js"></script>
</body>
</html>