<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>
<title>投票</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/works/buy.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  include ../navigator.pug
  <h1>購買區</h1>
  <h2>主題:#{topic}</h2>
  <br>
  if(data)
    each x in data
      <div class="overview">
        <div class="container-left">
          <img src=#{x.uri} width="900"height="665">
        </div>
        <div class="container-right">
          <form action=""method="post">
            <label for="author">作者:</label><dd id="author"name="author">#{x.author}</dd>
            <label for="name">作品名稱:</label><dd id="name"name="name">#{x.name}</dd>
            <label for="symbol">作品代號:</label><dd id="symbol">#{x.symbol}</dd>
            <input type="hidden" id="votingId" name="votingId" value=#{votingId}>
            <input type="hidden" id="participantId" name="participantId" value=#{x[6]}>
            <hr>
            <label for="info">重要資訊</label>
            <h2 id="info">PRICE 10 point</h2>
            <label for="amount">購買數量</label>
            <input type="text" id="amount" name="amount">
            <br>
            <h2 id="checkvote">確定購買？</h2>
            <input type="submit" value="購買">
            <button><a href="/works">再考慮</a>
          </form>
          
        </div>
      </div>
<script src="/javascripts/works/buy.js"></script>
<script src="/javascripts/vote/abi.js"></script>
</body>
</html>