<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>
<title>投票</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/vote/vote.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  include ../navigator.pug
  <h2>主題:#{topic}</h2>
  <br>
  if(data)
    each x in data
      <div class="overview">
        <div class="container-left">
          <img src=#{x.uri} width="900"height="665">
        </div>
        <div class="container-right">
          <form action=""method="post">
            <label for="author">作者:</label><dd id="author"name="author">#{x.author}</dd>
            <label for="name">作品名稱:</label><dd id="name"name="name">#{x.name}</dd>
            <label for="symbol">作品代號:</label><dd id="symbol">#{x.symbol}</dd>
            //<label for="votes">票數:</label><dd id="votes"name="votes">#{x[5]}</dd>
            <input type="hidden" id="votingId" name="votingId" value=#{votingId}>
            <input type="hidden" id="participantId" name="participantId" value=#{x.participantId}>
            <hr>
            <label for="info">重要資訊</label>
            <h2 id="info">1枚xx幣=1次投票=1枚副本</h2>
            <span id="info">為了感謝您的支持，每一次投票將會附贈作品副本一枚 每日相同作品可進行最多2次投票，2次投票機會消耗完以後，可支付(作品相應價格)購買作品副本,投票次數將會在每日00:00進行刷新</span>
            <br>
            <h2 id="checkvote">是否花費1枚XX幣為此作品投票?</h2>
            <input type="submit" value="投票">
            <button><a href="/works">再考慮</a>
          </form>
          
        </div>
      </div>
<script src="/javascripts/vote/vote.js"></script>
<script src="/javascripts/vote/abi.js"></script>
</body>
</html>