<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>
<title>活動作品</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/works/works.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  include ../navigator.pug
  <div class="overview">
    <br>
    <br>
    <label for="search">&nbsp;&nbsp;&nbsp;&nbsp;活動作品</label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="search" name="search" placeholder="搜尋">
    if (data)
      each x in data
        <br>
        <br>
        <div class=info>
          <div class="container">
            <img src=#{x.uri} width="100%" height="60%">
            <br>
            <br>
            <label for="author">作者</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" placeholder="100 points" style="text-align:center"readonly>
            <dd>#{x.author}</dd>
            <label for="name">作品名稱</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-heart fa-2x" aria-hidden="true" style="color:gray"><a href="/buy/#{x.votingId}/#{x.participantId}"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-shopping-cart fa-2x" aria-hidden="true" style="color:gray"></a></i>
            <dd>#{x.name}</dd>
            <br>
          </div>
        </div>
<script src="/javascripts/works/works.js"></script>
</body>
</html>
