<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>
<title>NFT詳情</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/explore/explore_detail.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
  // navigator
  include ../navigator.pug

  <div class="container">
    <div class="row">
      <i class="fa fa-chevron-left" style="margin: 3rem 0rem 0rem 1rem;" onclick="history.back()"></i>
      <div class="col">
        <h5 class="text-center my-5">NFT詳情</h5>
      </div>
    </div>
    <div class="row my-5">
      <div class="col ml-auto my-auto">
        <img src=#{uri} class="img-fluid">
      </div>
      <div class="col">
        <form action="" method="post">
          <div class="row">
            <div class="my-3 name">#{name}</div>
          </div>
          <div class="row">
            <div class="my-3 limit title">發行上限:</div>
            <div class="my-3 limit">#{mintLimit}</div>
          </div>
          <div class="row">
            <div class="my-3 limit title">目前發行量:</div>
            <div class="my-3 totalsupply">#{totalSupply}</div>
          </div>
          <div class="row">
            <div class="price">1 points</div>
          </div>
          <div class="row">
            <input type="submit" value="購買" class="submit-btn my-3">
            <p>#{warn}</p>
          </div>
          <input type="hidden" name="price" value="#{price}">
        </form>
      </div>
    </div>
  </div>
  <br>
  <br>
  // footbar
include ../footbar.pug
<script src="/javascripts/explore/explore_detail.js"></script>
</body>
</html>